.clients--container {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 0;
    margin: 0;
  }

  &__clients1 {
    width: 44.27px;
    height: 49.23px;
  }

  &__clients2 {
    width: 40px;
    height: 52px;
  }

  &__clients3 {
    width: 41px;
    height: 42.6px;
  }

  &__clients4 {
    width: 79.66px;
    height: 42.02px;
  }

  &__clients5 {
    width: 59px;
    height: 47px;
  }

  &__clients6 {
    width: 88.48px;
    height: 45.44px;
  }
}

.clients--container__box {
  width: 170px;
  height: 90px;
  border: 1px solid var(--main-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-icon-color);

  &:focus,
  &:hover {
    border-color: var(--hover-focus);
    fill: var(--hover-focus);
    outline: none;

    transition: border-color var(--time) var(--cubic);
  }
}
